[Unit]
Description=Pixfy Django Application
After=network.target

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory=/root/pixfy
Environment="DJANGO_SETTINGS_MODULE=photobank.settings_production"
Environment="DJANGO_SECRET_KEY=z_jgsa)#=_rzp^u@d%f#6j&od5olwry5n=(xe2%@e67i)f6uzu"
Environment="DJANGO_DEBUG=False"
Environment="DJANGO_ALLOWED_HOSTS=pixfy.ru,www.pixfy.ru"
ExecStart=/root/pixfy/venv/bin/gunicorn --config /root/pixfy/gunicorn_config.py
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
